.diameter-image {
  width: 10px;
  border-radius: 50%;
  object-fit: contain;
}

.port-image-container {
  position: absolute;
  width: auto;
  height: 38rem;
  margin-left: -2rem;
  margin-top: 2rem;
  z-index: 1;
}

.port-image-container-two {
  position: absolute;
  width: auto;
  height: 35rem;
  left: 40rem;
  margin-top: 2rem;
}

#noteOne {
  position: absolute;
  margin-left: 20rem;
  width: 30rem;
  margin-top: -2rem;
  z-index: 1;
}
#noteTwo {
  position: absolute;
  margin-left: 20rem;
  width: 30rem;
  margin-top: -0.5rem;
  z-index: 1;
}

#noteThree {
  position: absolute;
  margin-left: 20rem;
  width: 30rem;
  margin-top: 1rem;
  z-index: 1;
}

.port-images {
  width: 55rem;
  object-fit: cover;
  position: absolute;
  opacity: 0;
}

.port-images-two {
  width: 55rem;
  object-fit: contain;
  position: absolute;
  opacity: 0;
}

#port-container {
  padding-top: 4rem;
}

#port-search-div {
  width: 16rem;
  padding-left: 2rem;
  margin: 1rem;
}

.table-div-port {
  display: flex;
  justify-content: center;
}

.table-port {
  line-height: 2rem;
  font-size: 1rem;
  text-align: center;
  padding-top: 1%;
  width: 60%;
}

#t-head-port {
  background-color: aliceblue;
}

.port-value-boxes {
  background-color: rgb(255, 255, 255);
  position: absolute;
  display: flex;
  width: auto;
}

/* Port value box ids */

/* ISO6419 value boxes */

#dBox6 {
  top: 476px;
  left: 415px;
}

#dBox26 {
  top: 493px;
  left: 387px;
  width: 14rem;
  z-index: 1;
  background: transparent;
}

#jBox6 {
  top: 273px;
  left: 640px;
  width: 14rem;
  z-index: 1;
}

#kBox6 {
  top: 230px;
  left: 219px;
  width: 8rem;
}

#oBox6 {
  top: 156px;
  left: 377px;
  width: 7rem;
}

#pBox6 {
  top: 320px;
  left: 722px;
  width: 7rem;
}

#sBox6 {
  top: 164px;
  left: 684px;
  width: 7rem;
}

#uBox6 {
  top: 156px;
  left: 352px;
  width: 9rem;
}

#yBox6 {
  top: 98px;
  left: 386px;
  width: 5rem;
}

#yBox62 {
  top: 80px;
  left: 351px;
  width: 10rem;
  background: transparent;
}

#threadBox6 {
  top: 312px;
  left: 383px;
  width: 5rem;
}

/* ISO1179 Value boxes */

#d2Box {
  top: 470px;
  left: 369px;
  width: 7rem;
}

#d3Box {
  top: 148px;
  left: 359px;
  width: 8rem;
}

#d4nBox {
  top: 83px;
  left: 350px;
  width: 12rem;
}

#d4wBox {
  top: 103px;
  left: 341px;
  width: 12rem;
}

#l1Box {
  top: 239px;
  left: 612px;
  width: 7rem;
}

#l2Box {
  top: 272px;
  left: 189px;
  width: 6.5rem;
}

#l3Box {
  top: 316px;
  left: 148px;
  width: 2.5rem;
}

#l3Box2 {
  top: 336px;
  left: 130px;
  width: 4.5rem;
}

#threadBoxho {
  top: 290px;
  left: 395px;
  width: 4rem;
}

/* ISO11926 Value boxes */

#d2Boxi {
  top: 65px;
  left: 370px;
  width: 7rem;
}

#d3Boxi {
  top: 479px;
  left: 410px;
  width: 2rem;
}

#d3Boxi2 {
  top: 21px;
  left: -18px;
  width: 6rem;
}

#d4Boxi {
  top: 106px;
  left: 370px;
  width: 7rem;
}

#d5Boxi {
  top: 146px;
  left: 387px;
  width: 5.5rem;
}

#d5Boxi2 {
  top: 20px;
  left: 25px;
  width: 4rem;
}

#l1Boxi {
  top: 248px;
  left: 252px;
  width: 6rem;
}

#l2Boxi {
  top: 315px;
  left: 705px;
  width: 7rem;
}

#l3Boxi {
  top: 183px;
  left: 644px;
  width: 6rem;
}

#l4Boxi {
  top: 270px;
  left: 645px;
  width: 7rem;
}

#threadBoxi {
  top: 310px;
  left: 396px;
  width: 5rem;
}
#threadBoxi2 {
  top: 329px;
  left: 400px;
  width: 5rem;
}

/* AS5202 Value boxes */

#port-aBox {
  top: 105px;
  left: 350px;
  width: 9rem;
}

#port-bBox {
  top: 250px;
  left: 672px;
  width: 14rem;
}

#port-cBox {
  top: 480px;
  left: 415px;
}

#port-cBox2 {
  top: 500px;
  left: 380px;
  width: 14rem;
}

#port-dBox {
  top: 129px;
  left: 352px;
  width: 9rem;
}

#port-eBox {
  top: 203px;
  left: 248px;
  width: 8rem;
}

#port-gBox {
  top: 72px;
  left: 355px;
  width: 8rem;
}

#port-jBox {
  top: 330px;
  left: 730px;
  width: 9rem;
}

#port-threadBox {
  top: 311px;
  left: 380px;
  width: 5rem;
}

/* AS1300 Value boxes */

#port-bBoxRos {
  top: 40px;
  left: 370px;
  width: 8rem;
}

#port-cBoxRos {
  top: 106px;
  left: 366px;
  width: 8rem;
}

#port-dBoxRos {
  top: 148px;
  left: 366px;
  width: 8rem;
}

#port-eBoxRos {
  top: 217px;
  left: 643px;
  width: 5rem;
  background: transparent;
}

#port-fBoxRos {
  top: 262px;
  left: 220px;
  width: 6rem;
  background: transparent;
}

#port-gBoxRos {
  top: 220px;
  left: 189px;
  width: 3rem;
  background: transparent;
}
#port-gBoxRos2 {
  top: 237px;
  left: 163px;
  width: 6rem;
  background: transparent;
}

#port-hBoxRos {
  top: 300px;
  left: 118px;
  width: 7rem;
}
#port-hBoxRos2 {
  top: 318px;
  left: 92px;
  width: 9rem;
  background: transparent;
}

#port-kBoxRos {
  top: 212px;
  left: 523px;
  width: 10rem;
}

#port-lBoxRos {
  top: 85px;
  left: 300px;
  width: 10rem;
}

#port-mBoxRos {
  top: 260px;
  left: 586px;
  width: 7rem;
  background: transparent;
}

#port-threadBoxRos {
  top: 325px;
  left: 380px;
  width: 5rem;
}

/* AS1958 value boxes */

#port-bBoxas {
  top: 129px;
  left: 353px;
  width: 9rem;
}

#port-cBoxas {
  top: 171px;
  left: 352px;
  width: 9rem;
}

#port-dBoxas {
  top: 300px;
  left: 120px;
  width: 6rem;
}

#port-dBoxas2 {
  top: 320px;
  left: 110px;
  width: 6rem;
}

#port-eBoxas {
  top: 222px;
  left: 198px;
  width: 3rem;
  background: transparent;
}

#port-eBoxas2 {
  top: 238px;
  left: 159px;
  width: 11rem;
  background: transparent;
}

#port-tBoxas {
  top: 90px;
  left: 510px;
  width: 7rem;
}

#threadBoxas {
  top: 324px;
  left: 382px;
  width: 5rem;
}

/* J1926 value boxes */
#dBoxj {
  top: 477px;
  left: 415px;
  z-index: 1;
}

#dBoxj2 {
  top: 494px;
  left: 380px;
  width: 14rem;
  z-index: 1;
  background: transparent;
}

#jBoxj {
  top: 273px;
  left: 640px;
  width: 14rem;
  z-index: 1;
}

#port-kBoxj {
  top: 230px;
  left: 217px;
  width: 9rem;
}

#port-oBoxj {
  top: 90px;
  left: 400px;
  width: 8rem;
}

#port-pBoxj {
  top: 315px;
  left: 709px;
  width: 8rem;
}

#port-sBoxj {
  top: 165px;
  left: 686px;
  width: 8rem;
}

#port-uBoxj {
  top: 156px;
  left: 350px;
  width: 9rem;
}

#yBoxj {
  top: 98px;
  left: 386px;
  width: 5rem;
}

#yBoxj2 {
  top: 80px;
  left: 351px;
  width: 10rem;
  background: transparent;
}

#port-threadBoxj {
  top: 312px;
  left: 393px;
  width: 4.5rem;
}

@media (max-width: 1275px) {
  .port-image-container-two {
    left: 0rem;
    top: 51rem;
    margin-left: -5rem;
  }
  #noteOne,
  #noteTwo,
  #noteThree {
    margin-left: 10rem;
  }
}
