* {
  padding: 0;
  margin: 0;
}

.alert-div {
  margin-top: 1rem;
}

#bg-image {
  background: url("/static/homeBG.jpg");
  height: 800px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.2;
}

body {
  width: 100%;
  min-height: 100vh;
}

#buttons-labels {
  position: fixed;
  top: 0rem;
  left: 0rem;
  padding: 2rem;
  padding-top: 6rem;
  padding-right: 8.5rem;
  background-color: rgb(254, 254, 254);
}

#calc-container {
  display: flex;
  flex-direction: column;
  font-family: Roboto;
}

.card-container {
  width: 13rem;
  height: 13rem;
  border: 1px solid black;
  border-radius: 1rem;
  padding: 1rem;
  margin: 1rem;
}

.card-master {
  display: flex;
  justify-self: center;
  margin-top: 10rem;
  flex-wrap: wrap;
}

#chip-container {
  padding-top: 6rem;
  display: flex;
  justify-content: center;
  width: 100%;
}

#chip-container-column {
  display: flex;
  flex-direction: column;
}

.cl-img {
  width: 1.6rem;
  object-fit: cover;
}

#cl-nav {
  position: fixed;
  top: 4rem;
  left: 3rem;
}

.cool-style {
  width: 70px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  text-indent: 4px;
}

.cool-style:hover {
  border: 2px solid #555;
}

.cool-style:focus {
  border-bottom: 2px solid linear-gradient(to right, #9a9a9a, #242424);
}

.diameter-image {
  width: 10px;
  border-radius: 50%;
  object-fit: contain;
}

#drill-tap-container {
  width: 100%;
  display: flex;
  justify-content: end;
}

.dropdown-ports {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  flex-wrap: wrap;
}

#home-id {
  text-align: center;
  height: 100%;
  overflow: hidden;
}

.ele {
  cursor: pointer;
}

#email-button-div {
  display: flex;
  justify-content: center;
  padding-top: 1rem;
}

#email-sent-div {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  padding-top: 10rem;
}

#exInput {
  display: none;
}

.feed-in-split {
  margin-top: 1rem;
  margin-left: 1rem;
  margin-right: 1rem;
}

#feed-speed-calc {
  margin-top: 3rem;
}

#feedSpeed-container {
  padding-top: 5rem;
  display: flex;
  justify-content: center;
}

#feedSpeed-container-col {
  display: flex;
  flex-direction: column;
}

fieldset {
  width: 40%;
}

.head-contain {
  position: fixed;
  left: 0rem;
  padding-left: 2rem;
  z-index: 1;
}

.highlight {
  background-color: yellow;
}

#home-id {
  position: absolute;
  top: 0;
  left: 0;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  width: 100%;
  line-height: 2rem;
}

h5 {
  margin: 0;
}

.idselect {
  opacity: 0;
  height: 1px;
}

#j1926-port-img {
  opacity: 0;
}

.key {
  font-weight: 500;
  border: 1px, solid, black;
}

.label-div-port {
  display: flex;
  flex-direction: column;
  padding-left: 2rem;
  padding-right: 2rem;
}

#login-container {
  margin-top: 5rem;
  display: flex;
  justify-content: center;
}

#login-font {
  position: absolute;
  top: 4rem;
  left: 40%;
  background-color: transparent;
  font-family: Times, serif;
}

.login-in {
  width: 20rem;
}

#login-justify {
  display: flex;
  flex-direction: column;
}

.machine-div {
  padding-left: 5rem;
  line-height: 0.5rem;
}

.machine-select {
  display: flex;
  justify-content: center;
  padding-top: 4rem;
  flex-direction: row;
  flex-wrap: wrap;
}

#main-container {
  width: 100%;
}

#message1 {
  border: none;
  width: 80%;
  display: none;
}

.new-font-style {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-size: 1.2rem;
  font-weight: 500;
}

#notes {
  width: 25rem;
}

p {
  margin: 0;
}

#person-info {
  display: flex;
  flex-direction: column;
  padding-left: 5rem;
  padding-top: 2rem;
}

.personal-info-input {
  width: 20%;
  text-indent: 0.3rem;
}

.p-key-values {
  font-weight: 700;
  padding-right: 10px;
}

.p-values {
  padding-left: 5px;
  overflow: hidden;
}

.port-images {
  width: 55rem;
  object-fit: cover;
  position: absolute;
  opacity: 0;
}

.port-images-two {
  width: 17rem;
  object-fit: contain;
  position: absolute;
  opacity: 0;
}

#port-container {
  padding-top: 4rem;
}

.port-image-container {
  position: absolute;
  width: auto;
  height: 35rem;
  margin-left: -5rem;
}

.port-image-container-two {
  position: absolute;
  width: auto;
  height: 35rem;
  left: 55rem;
  padding-top: 5rem;
}

#port-j1926-img {
  position: absolute;
  width: auto;
  height: 25rem;
  margin-left: 15rem;
  padding-top: 2rem;
}

#port-search-div {
  width: 16rem;
  padding-left: 2rem;
  margin: 1rem;
}

.port-value-boxes {
  background-color: rgb(255, 255, 255);
  position: absolute;
  display: flex;
  width: auto;
}

#port-aBox {
  top: 105px;
  left: 350px;
  width: 9rem;
}

#port-bBox {
  top: 250px;
  left: 672px;
  width: 14rem;
}

#port-cBox {
  top: 480px;
  left: 415px;
}

#port-cBox2 {
  top: 500px;
  left: 380px;
  width: 14rem;
}

#port-dBox {
  top: 129px;
  left: 352px;
  width: 9rem;
}

#port-dBoxj {
  top: 365px;
  left: 444px;
}

#port-dBox2j {
  top: 385px;
  left: 422px;
  width: 14rem;
}

#port-eBox {
  top: 231px;
  left: 220px;
  width: 9rem;
}

#port-gBox {
  top: 72px;
  left: 355px;
  width: 8rem;
}

#port-jBox {
  top: 330px;
  left: 730px;
  width: 9rem;
}

#port-jBoxj {
  top: 200px;
  left: 625px;
  width: 14rem;
}

#port-kBoxj {
  top: 180px;
  left: 210px;
  width: 10rem;
}

#port-oBoxj {
  top: 90px;
  left: 400px;
  width: 8rem;
}

#port-pBoxj {
  top: 180px;
  left: 260px;
  line-height: 1.3rem;
}

#port-sBoxj {
  top: 120px;
  left: 585px;
  width: 10rem;
}

#port-uBoxj {
  top: 110px;
  left: 130px;
  width: 9rem;
}

#port-yBoxj {
  top: 50px;
  left: 380px;
  width: 14rem;
}

#port-threadBox {
  top: 311px;
  left: 380px;
  width: 5rem;
}

.program-container {
  width: 100%;
}

.remove-button {
  background-color: aliceblue;
  border-radius: 0.2rem;
  cursor: pointer;
}

.rpm-to-sfm {
  display: flex;
  flex-direction: row;
  padding-top: 2rem;
}

.rpm-sfm-div {
  display: flex;
  flex-direction: row;
}

#sae-port {
  opacity: 0;
}

.shorten {
  width: 4rem;
}

.smaller {
  font-size: 12px;
}

.table-div {
  line-height: 0.7rem;
  font-size: 0.9rem;
  padding-top: 5%;
  width: 50%;
}

.table-div-port {
  display: flex;
  justify-content: center;
}

.table-port {
  line-height: 2rem;
  font-size: 1rem;
  text-align: center;
  padding-top: 1%;
  width: 60%;
}

#table-divider {
  line-height: 0.7rem;
  font-size: 0.8rem;
  padding-top: 5%;
  width: 50%;
  padding-left: 0rem;
}

table {
  border-collapse: initial;
}

.table-div thead th {
  position: sticky;
  top: 0rem;
  background-color: aliceblue;
}

#t-head-port {
  background-color: aliceblue;
}

.tap-filters {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.tap-check {
  cursor: pointer;
}

#test {
  padding-top: 10rem;
}

#tool-table-div {
  display: flex;
  justify-content: center;
  padding-top: 3rem;
}

#tool-table-table {
  width: 75%;
}

#tool-table-thead {
  background-color: aliceblue;
}

#toollist-div {
  padding-top: 5rem;
}

.tool-page-inputboxes {
  font-size: 1rem;
  width: 7rem;
  border-radius: 0.3rem;
  text-indent: 0.3rem;
}

#tool-form-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.tool-page-div {
  padding-left: 1rem;
  padding-right: 1rem;
}

.tool-page-div label {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.1rem;
}

#triangle {
  position: absolute;
  top: 10rem;
  left: 15%;
  width: 20rem;
  object-fit: cover;
}

.triangle-alignments {
  display: flex;
  flex-direction: row;
}

.triangle-input {
  border: 1px solid rgb(231, 186, 193);
  border-radius: 0.2rem;
  text-indent: 0.2rem;
  width: 5rem;
  height: 1.4rem;
  padding-top: 1px;
  padding-bottom: 1px;
}

.triangle-input:focus {
  outline: none;
  border: 1px solid rgb(231, 36, 66);
}

#triangle-inputs-labels {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 11rem;
  left: 55%;
  font-family: Arial, sans-serif;
}

.trig-buttons {
  cursor: pointer;
  border: 1px solid rgb(235, 224, 224);
  border-radius: 0.2rem;
}

#trig-button-check:hover {
  background-color: rgb(161, 220, 189);
}

#trig-button-clear:hover {
  background-color: lightpink;
}

#tru-box-one {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.true-inputs {
  width: 6rem;
  text-indent: 0.3rem;
  border-radius: 5px;
}

.true-inputs:focus,
.true-inputs:hover {
  box-shadow: 1px 1px blue;
  background-color: whitesmoke;
}

#truePos {
  padding-top: 4rem;
  display: flex;
  justify-content: center;
}

.value {
  border: 1px, solid, black;
}

#wpcs {
  position: fixed;
  display: flex;
  flex-direction: column;
  top: 12rem;
  left: 3rem;
  opacity: 0.2;
}

@media (max-width: 1275px) {
  .port-image-container-two {
    left: 15rem;
    top: 45rem;
  }
}

@media (max-width: 1000px) {
  .table {
    line-height: 0.8rem;
    padding-top: 21rem;
    width: 30%;
    padding-left: 0;
  }

  #drill-tap-container {
    justify-content: flex-start;
    padding-left: 0.5rem;
  }

  .port-image-container {
    width: 45rem;
  }
}

@media (max-width: 800px) {
  .machine-select {
    padding-top: 6.5rem;
    font-size: 0.9rem;
  }

  .machine-div {
    padding-left: 1rem;
    line-height: 0.6rem;
    font-size: 0.6rem;
  }

  #wpcs {
    top: 15rem;
    left: 1rem;
  }

  .cl-img {
    width: 1.3rem;
  }

  .table-div thead th {
    top: 20rem;
  }
  .navbar-nav {
    font-size: 0.7rem;
  }

  .head-contain {
    padding-left: 0.5rem;
  }

  .card-container {
    width: 10rem;
    height: 10rem;
    border: 1px solid black;
    border-radius: 0.5rem;
    padding: 0.5rem;
    margin: 0.5rem;
  }

  h3 {
    font-size: 1.5rem;
  }

  .port-image-container {
    width: 25rem;
    background-color: lightblue;
  }

  .table-port {
    line-height: 1rem;
    font-size: 0.8rem;
    text-align: center;
    padding-top: 5%;
    width: 50%;
  }

  #triangle {
    top: 33rem;
    left: 10%;
    width: 18rem;
  }

  #triangle-inputs-labels {
    top: 18rem;
    left: 30%;
  }
}
