{% extends "layout.html" %}
{% block title %}
Calculator
{% endblock %}
{% block main %}
<script>
    function trigClearFun(){
        let angleA = document.getElementById('angle-a').value = "";
        let angleB = document.getElementById('angle-b').value = "";
        let legA = document.getElementById('leg-a').value = "";
        let legB = document.getElementById('leg-b').value = "";
        let hypot = document.getElementById('hypot-c').value = "";
    }
    function trigFun(){
        // grab all the values
        let angleA = document.getElementById('angle-a');
        let angleB = document.getElementById('angle-b');
        let legA = document.getElementById('leg-a');
        let legB = document.getElementById('leg-b');
        let hypot = document.getElementById('hypot-c');

        let angleAval = parseFloat(angleA.value);
        let angleBval = parseFloat(angleB.value);
        let legAval = parseFloat(legA.value);
        let legBval = parseFloat(legB.value);
        let hypotval = parseFloat(hypot.value);

        
        // create an array to work with values
        let myArr = [];
        myArr.push(angleAval);
        myArr.push(angleBval);
        myArr.push(legAval);
        myArr.push(legBval);
        myArr.push(hypotval);

        let count = 0;
        myArr.forEach(val => {
            if(val != ""){
                count ++
            }
        })

        if(count > 1){

            // calculate with two givin values
            if(legAval > 0 && legBval > 0){

                hypotval = Math.sqrt(legAval * legAval + legBval * legBval);
                hypot.value = Math.round(hypotval * 100000) / 100000;
                
                angleAval = Math.asin(legAval/hypotval);
                angleAval = angleAval / (Math.PI / 180);
                angleA.value = Math.round(angleAval * 100000) / 100000;

                angleBval = Math.asin(legBval/hypotval);
                angleBval = angleBval / (Math.PI / 180);
                angleB.value = Math.round(angleBval * 100000) / 100000;
            }
            else if(legAval > 0 && angleAval > 0){
                angleAval = (90 - angleAval) * (Math.PI / 180);
                legBval = Math.tan(angleAval) * legAval;
                legB.value = Math.round(legBval * 100000) / 100000;
                
                hypotval = Math.sqrt(legAval * legAval + legBval * legBval);
                hypot.value = Math.round(hypotval * 100000) / 100000;

                angleBval = Math.asin(legBval/hypotval);
                angleBval = angleBval / (Math.PI / 180);
                angleB.value = Math.round(angleBval * 100000) / 100000;
            }
            else if(legBval > 0 && angleAval > 0){
                angleAval = (angleAval) * (Math.PI / 180);
                legAval = Math.tan(angleAval) * legBval;
                legA.value = Math.round(legAval * 100000) / 100000;
                
                hypotval = Math.sqrt(legAval * legAval + legBval * legBval);
                hypot.value = Math.round(hypotval * 100000) / 100000;

                angleBval = Math.asin(legBval/hypotval);
                angleBval = angleBval / (Math.PI / 180);
                angleB.value = Math.round(angleBval * 100000) / 100000;
            }
            else if(legBval > 0 && angleBval > 0){
                angleBval = (90 - angleBval) * (Math.PI / 180);
                legAval = Math.tan(angleBval) * legBval;
                legA.value = Math.round(legAval * 100000) / 100000;
                
                hypotval = Math.sqrt(legAval * legAval + legBval * legBval);
                hypot.value = Math.round(hypotval * 100000) / 100000;

                angleAval = Math.asin(legAval/hypotval);
                angleAval = angleAval / (Math.PI / 180);
                angleA.value = Math.round(angleAval * 100000) / 100000;
            }
            else if(legAval > 0 && angleBval > 0){
                angleBval = (angleBval) * (Math.PI / 180);
                legBval = Math.tan(angleBval) * legAval;
                legB.value = Math.round(legBval * 100000) / 100000;
                
                hypotval = Math.sqrt(legAval * legAval + legBval * legBval);
                hypot.value = Math.round(hypotval * 100000) / 100000;

                angleAval = Math.asin(legAval/hypotval);
                angleAval = angleAval / (Math.PI / 180);
                angleA.value = Math.round(angleAval * 100000) / 100000;   
            }
            else if(hypotval > 0 && legAval > 0){
                legBval = Math.sqrt(hypotval * hypotval - legAval * legAval);
                legB.value = Math.round(legBval * 100000) / 100000;

                angleAval = Math.asin(legAval/hypotval);
                angleAval = angleAval / (Math.PI / 180);
                angleA.value = Math.round(angleAval * 100000) / 100000;

                angleBval = Math.asin(legBval/hypotval);
                angleBval = angleBval / (Math.PI / 180);
                angleB.value = Math.round(angleBval * 100000) / 100000;
            }
            else if(hypotval > 0 && legBval > 0){
                legAval = Math.sqrt(hypotval * hypotval - legBval * legBval);
                legA.value = Math.round(legAval * 100000) / 100000;

                angleAval = Math.asin(legAval/hypotval);
                angleAval = angleAval / (Math.PI / 180);
                angleA.value = Math.round(angleAval * 100000) / 100000;

                angleBval = Math.asin(legBval/hypotval);
                angleBval = angleBval / (Math.PI / 180);
                angleB.value = Math.round(angleBval * 100000) / 100000;
            }
            else if(hypotval > 0 && angleBval > 0){
                angleBval = angleBval * (Math.PI / 180);
                legBval = Math.sin(angleBval) * hypotval;
                legB.value = Math.round(legBval * 100000) / 100000;

                legAval = Math.sqrt(hypotval * hypotval - legBval * legBval);
                legA.value = Math.round(legAval * 100000) / 100000;

                angleAval = Math.asin(legAval/hypotval);
                angleAval = angleAval / (Math.PI / 180);
                angleA.value = Math.round(angleAval * 100000) / 100000;
            }
            else if(hypotval > 0 && angleAval > 0){
                angleAval = angleAval * (Math.PI / 180);
                legAval = Math.sin(angleAval) * hypotval;
                legA.value = Math.round(legAval * 100000) / 100000;

                legBval = Math.sqrt(hypotval * hypotval - legAval * legAval);
                legB.value = Math.round(legBval * 100000) / 100000;

                angleBval = Math.asin(legBval/hypotval);
                angleBval = angleBval / (Math.PI / 180);
                angleB.value = Math.round(angleBval * 100000) / 100000;
            }
        }
    }

    function rpmtosf(){
        // grab all variables
        let rpm = document.getElementById('rpm2').value;
        let toolDiameter = document.getElementById('diameter2').value;
        let calcSfm = document.getElementById('calc-sfm2');

        if(sfm != 0 && toolDiameter != 0){
            calcSfm.innerText = (parseFloat(rpm) / parseFloat(3.82)) * parseFloat(toolDiameter);
        }
    }

    function sftorpm(){
        // grab all variables
        let sfm = document.getElementById('sfm').value;
        let toolDiameter = document.getElementById('diameter').value;
        let calcRpm = document.getElementById('calc-rpm');

        if(sfm != 0 && toolDiameter != 0){
            calcRpm.innerText = (parseFloat(sfm) * parseFloat(3.82)) / parseFloat(toolDiameter);
        }
    }
</script>
<div id="calc-container">
    <div id="sfm-to-rpm">
        <div class="calc-label-input-div">
            <label class="calc-labels" for="sfm">SFM</label>
            <input type="text" id="sfm" name="sfm" onkeyup={sftorpm()} class="calc-inputs">
        </div>
        <p class="calc-p-elements">X</p>
        <p class="calc-p-elements">3.82</p>
        <p class="calc-p-elements calc-p-equals">/</p>
        <div class="calc-label-input-div">
            <label class="calc-labels" for="diameter">Tool Dia</label>
            <input type="text" id="diameter" name="diameter" onkeyup={sftorpm()} class="calc-inputs">
        </div>
        <p class="calc-p-elements calc-p-equals">=</p>
        <div class="calc-label-input-div">
            <p class="calc-p-elements">RPM</p>
            <p id="calc-rpm" class="calc-p-elements">0</p>
        </div>
    </div>
    <div id="rpm-to-sfm">
        <div class="calc-label-input-div">
            <label class="calc-labels" for="rpm2">RPM</label>
            <input type="text" id="rpm2" name="rpm2" onkeyup={rpmtosf()} class="calc-inputs">
        </div>
        <p class="calc-p-elements calc-p-equals">/</p>
        <p class="calc-p-elements">3.82</p>
        <p class="calc-p-elements">X</p>
        <div class="calc-label-input-div">
            <label class="calc-labels" for="diameter">Tool Dia</label>
            <input type="text" id="diameter2" name="diameter" onkeyup={rpmtosf()} class="calc-inputs">
        </div>
        <p class="calc-p-elements calc-p-equals">=</p>
        <div class="calc-label-input-div">
            <p class="calc-p-elements">SFM</p>
            <p id="calc-sfm2" class="calc-p-elements">0</p>
        </div>
    </div>
    <div id="triangle-div">
        <image
            src="{{ url_for('static', filename='triangle.jpeg') }}"
            id="triangle"
            class="triangle"
            alt="triangle"
        ></image>
    </div>
    <div id="triangle-inputs-labels">
        <div class="triangle-alignments">
            <label for="angle-a" class="triangle-label">angle A&nbsp;</label>
            <input id="angle-a" name="angle-a" class="triangle-input">
        </div>
        <div class="triangle-alignments">
            <label for="angle-b" class="triangle-label">angle B&nbsp;</label>
            <input id="angle-b" name="angle-b" class="triangle-input">
        </div>
        <div class="triangle-alignments">
            <label for="leg-a" class="triangle-label">leg a&emsp;&nbsp;</label>
            <input id="leg-a" name="leg-a" class="triangle-input">
        </div>
        <div class="triangle-alignments">
            <label for="leg-b" class="triangle-label">leg b&emsp;&nbsp;</label>
            <input id="leg-b" name="leg-b" class="triangle-input">
        </div>
        <div class="triangle-alignments">
            <label for="hypot-c" class="triangle-label">hypot c&nbsp;</label>
            <input id="hypot-c" name="hypot-c" class="triangle-input">
        </div>
        <button type="button" id="trig-button-check" class="trig-buttons" onclick={trigFun()}>Check</button>
        <button type="button" id="trig-button-clear" class="trig-buttons" onclick={trigClearFun()}>Clear</button>
    </div>
</div>
{% endblock %}