{% extends "layout.html" %} {%block title%} Ports {%endblock%} {%block head%}
<link
  rel="stylesheet"
  type="text/css"
  href="{{ url_for('static', filename='ports.css') }}"
/>
<script src="/static/portData.js"></script>
{%endblock%} {%block main%}
<script>
  function createPortTable(data) {
    // make opacity 0 on all images
    const j1926PortImg = document.getElementById("j1926-img");
    const j1926PortImgTwo = document.getElementById("j1926-img-two");
    const as5202PortImg = document.getElementById("as5202-img");
    const as5202PortImgTwo = document.getElementById("as5202-img-two");
    const as1300PortImg = document.getElementById("as1300-img");
    const as1300PortImgTwo = document.getElementById("as1300-img-two");
    const as1958PortImg = document.getElementById("as1958-img");
    const iso1179PortImg = document.getElementById("iso1179-img");

    j1926PortImg.style.opacity = "0";
    j1926PortImgTwo.style.opacity = 0;
    as5202PortImg.style.opacity = "0";
    as5202PortImgTwo.style.opacity = "0";
    as1300PortImg.style.opacity = "0";
    as1300PortImgTwo.style.opacity = "0";
    as1958PortImg.style.opacity = "0";
    iso1179PortImg.style.opacity = 0;

    let j1926Select = document.getElementById("j1926-portSelect");
    let as5202Select = document.getElementById("as5202-portSelect");
    let as1300Select = document.getElementById("as1300-portSelect");
    let as1958Select = document.getElementById("as1958-portSelect");
    let iso6419Select = document.getElementById("iso6419-portSelect");
    let iso1179Select = document.getElementById("iso1179-portSelect");
    let iso11926Select = document.getElementById("iso11926-portSelect");

    let selectedValue = "";

    // get select box value based on port selection
    if (data == as5202) {
      selectedValue = document.getElementById("as5202-portSelect").value;
      as5202PortImg.style.opacity = 1;
      as5202PortImgTwo.style.opacity = 1;
      as1300Select.value = "";
      as1958Select.value = "";
      j1926Select.value = "";
      iso1179Select.value = "";
      iso6419Select.value = "";
      iso11926Select.value = "";
    } else if (data == j1926) {
      selectedValue = document.getElementById("j1926-portSelect").value;
      j1926PortImg.style.opacity = 1;
      j1926PortImgTwo.style.opacity = 1;
      as5202Select.value = "";
      as1300Select.value = "";
      as1958Select.value = "";
      iso1179Select.value = "";
      iso6419Select.value = "";
      iso11926Select.value = "";
    } else if (data == as1300) {
      selectedValue = document.getElementById("as1300-portSelect").value;
      as1300PortImg.style.opacity = 1;
      as1300PortImgTwo.style.opacity = 1;
      as5202Select.value = "";
      as1958Select.value = "";
      j1926Select.value = "";
      iso1179Select.value = "";
      iso6419Select.value = "";
      iso11926Select.value = "";
    } else if (data == as1958) {
      selectedValue = document.getElementById("as1958-portSelect").value;
      as1958PortImg.style.opacity = 1;
      as5202Select.value = "";
      as1300Select.value = "";
      j1926Select.value = "";
      iso1179Select.value = "";
      iso6419Select.value = "";
      iso11926Select.value = "";
    } else if (data == iso6419) {
      selectedValue = document.getElementById("iso6419-portSelect").value;
      j1926PortImg.style.opacity = 1;
      j1926PortImgTwo.style.opacity = 1;
      as5202Select.value = "";
      as1300Select.value = "";
      as1958Select.value = "";
      j1926Select.value = "";
      iso1179Select.value = "";
      iso11926Select.value = "";
    } else if (data == iso1179) {
      selectedValue = document.getElementById("iso1179-portSelect").value;
      iso1179PortImg.style.opacity = 1;
      as5202Select.value = "";
      as1300Select.value = "";
      as1958Select.value = "";
      j1926Select.value = "";
      iso6419Select.value = "";
      iso11926Select.value = "";
    } else if (data == iso11926) {
      selectedValue = document.getElementById("iso11926-portSelect").value;
      iso11926PortImg.style.opacity = 1;
      iso11926PortImgTwo.style.opacity = 1;
      as5202Select.value = "";
      as1300Select.value = "";
      as1958Select.value = "";
      j1926Select.value = "";
      iso1179Select.value = "";
      iso6419Select.value = "";
    } else {
      alert("Invalid Selection");
    }

    // removeGuy clears table so chart doesnt have repeating values
    const removeGuy = document.querySelectorAll(".ele");
    removeGuy.forEach(guy => {
      guy.remove();
    });
    const removeGuys = document.querySelectorAll(".port-value-boxes");
    removeGuys.forEach(guy => {
      guy.remove();
    });

    // create table head
    let tHeadkeys = Object.keys(data[0]);
    let tHeadvalue = Object.values(data[0]);
    for (let i = 0; i < tHeadkeys.length; i++) {
      const tHeadEle = document.createElement("th");
      tHeadEle.setAttribute("class", "ele");
      tHeadEle.classList.add("table-bordered");
      tHeadEle.innerHTML += tHeadkeys[i];
      document.getElementById("t-head-row-port").appendChild(tHeadEle);
    }

    // create elements based on data. Append to table body.
    for (let i = 0; i < data.length; i++) {
      if (
        data[i]["Size-Code"] == selectedValue ||
        data[i]["Tube-OD"] == selectedValue ||
        (data == iso1179 && data[i]["Thread"] == selectedValue)
      ) {
        let wrapper = document.createElement("tr");
        wrapper.setAttribute("class", "ele");
        wrapper.classList.add("table-bordered");
        wrapper.classList.add("row-data");
        document.getElementById("table-body-port").appendChild(wrapper);

        for (let x = 0; x < tHeadkeys.length; x++) {
          const newGuy = document.createElement("th");
          newGuy.innerHTML += data[i][tHeadkeys[x]];
          newGuy.classList.add(`${tHeadkeys[x]}-Value`);
          wrapper.appendChild(newGuy);
        }
      }
    }
    if (data == as5202) {
      as5202Map();
    } else if (data == j1926) {
      j1926Map();
    } else if (data == as1300) {
      as1300Map();
    } else if (data == as1958) {
      as1958Map();
    } else if (data == iso6419) {
      iso6419Map();
    } else if (data == iso1179) {
      iso1179Map();
    }
  }

  function as5202Map() {
    // grab containers in html, and key values for port size specs
    let container = document.getElementById("port-image-container-id");
    let containerTwo = document.getElementById("port-image-container-id-two");
    let aValue = document.getElementsByClassName("A-Value")[0].textContent;
    let bValue = document.getElementsByClassName("B-Value")[0].textContent;
    let cValue = document.getElementsByClassName("C-Value")[0].textContent;
    let dValue = document.getElementsByClassName("D-Value")[0].textContent;
    let eValue = document.getElementsByClassName("E-Value")[0].textContent;
    let gValue = document.getElementsByClassName("G-Value")[0].textContent;
    let jValue = document.getElementsByClassName("J-Value")[0].textContent;
    let nValue = document.getElementsByClassName("N-Value")[0].textContent;
    let threadClass =
      document.getElementsByClassName("Class-Value")[0].textContent;
    let threadSize =
      document.getElementsByClassName("Thread-Value")[0].textContent;

    // create div container for each port spec: A
    let aBox = document.createElement("div");
    let diaImage = document.createElement("img");
    let aValP = document.createElement("p");
    let aKeyVal = document.createElement("p");
    aValP.className = "p-values";
    aValP.innerHTML = `${aValue} <span class="smaller">(+.015 -.0)</span>`;
    aKeyVal.className = "p-key-values";
    aKeyVal.textContent = "A:";
    diaImage.setAttribute("class", "diameter-image");
    diaImage.setAttribute("src", "/static/diameter.jpeg");
    diaImage.setAttribute("alt", "image of diameter");
    aBox.setAttribute("class", "port-value-boxes");
    aBox.setAttribute("id", "port-aBox");
    container.appendChild(aBox);
    aBox.appendChild(aKeyVal);
    aBox.appendChild(diaImage);
    aBox.appendChild(aValP);

    // create div container for each port spec: B
    let bBox = document.createElement("div");
    let bValp = document.createElement("p");
    bValp.className = "p-values";
    bValp.innerHTML = `<b>B:</b>\n
    ${bValue} (min) thread depth`;
    bBox.setAttribute("class", "port-value-boxes");
    bBox.setAttribute("id", "port-bBox");
    container.appendChild(bBox);
    bBox.appendChild(bValp);

    // create div container for each port spec: C
    let cBox = document.createElement("div");
    let cBox2 = document.createElement("div");
    let diaImageC = document.createElement("img");
    let cValp = document.createElement("p");
    let cKeyVal = document.createElement("p");
    cValp.className = "p-values";
    cValp.textContent = `${cValue} (min)`;
    cKeyVal.className = "p-key-values";
    cKeyVal.textContent = "C:\n";
    diaImageC.setAttribute("class", "diameter-image");
    diaImageC.setAttribute("src", "/static/diameter.jpeg");
    diaImageC.setAttribute("alt", "image of diameter");
    cBox.setAttribute("class", "port-value-boxes");
    cBox.setAttribute("id", "port-cBox");
    cBox2.setAttribute("class", "port-value-boxes");
    cBox2.setAttribute("id", "port-cBox2");
    container.appendChild(cBox);
    container.appendChild(cBox2);
    cBox.appendChild(cKeyVal);
    cBox2.appendChild(diaImageC);
    cBox2.appendChild(cValp);

    // create div container for each port spec: D
    let dBox = document.createElement("div");
    let diaImageD = document.createElement("img");
    let dValp = document.createElement("p");
    let dKeyVal = document.createElement("p");
    dValp.className = "p-values";
    dValp.innerHTML = `${dValue} \n<span class="smaller">(+.005 -.0)</span>`;
    dKeyVal.className = "p-key-values";
    dKeyVal.textContent = "D:";
    diaImageD.setAttribute("class", "diameter-image");
    diaImageD.setAttribute("src", "/static/diameter.jpeg");
    diaImageD.setAttribute("alt", "image of diameter");
    dBox.setAttribute("class", "port-value-boxes");
    dBox.setAttribute("id", "port-dBox");
    container.appendChild(dBox);
    dBox.appendChild(dKeyVal);
    dBox.appendChild(diaImageD);
    dBox.appendChild(dValp);

    // create div container for each port spec: G
    let gBox = document.createElement("div");
    let diaImageG = document.createElement("img");
    let gValp = document.createElement("p");
    let gKeyVal = document.createElement("p");
    gValp.className = "p-values";
    gValp.textContent = `${gValue} (min)`;
    gKeyVal.className = "p-key-values";
    gKeyVal.textContent = "G:";
    diaImageG.setAttribute("class", "diameter-image");
    diaImageG.setAttribute("src", "/static/diameter.jpeg");
    diaImageG.setAttribute("alt", "image of diameter");
    gBox.setAttribute("class", "port-value-boxes");
    gBox.setAttribute("id", "port-gBox");
    container.appendChild(gBox);
    gBox.appendChild(gKeyVal);
    gBox.appendChild(diaImageG);
    gBox.appendChild(gValp);

    // create div container for each port spec: J
    let jBox = document.createElement("div");
    let jValp = document.createElement("p");
    jValp.className = "p-values";
    jValp.innerHTML = `<b>J:</b>\n
    ${jValue} (min)`;
    jBox.setAttribute("class", "port-value-boxes");
    jBox.setAttribute("id", "port-jBox");
    container.appendChild(jBox);
    jBox.appendChild(jValp);

    // create div container for each port spec: E
    let eBox = document.createElement("div");
    let eValp = document.createElement("p");
    eValp.className = "p-values";
    eValp.innerHTML = `<b>E:</b>\n
    ${eValue} <span class="smaller">(+.015 -.0)</span>`;
    eBox.setAttribute("class", "port-value-boxes");
    eBox.setAttribute("id", "port-eBox");
    containerTwo.appendChild(eBox);
    eBox.appendChild(eValp);

    // create div container for each port spec: thread
    let threadBox = document.createElement("div");
    let threadValp = document.createElement("p");
    threadValp.className = "p-values";
    threadValp.innerHTML = `${threadSize}\n${threadClass}`;
    threadBox.setAttribute("class", "port-value-boxes");
    threadBox.setAttribute("id", "port-threadBox");
    container.appendChild(threadBox);
    threadBox.appendChild(threadValp);
  }

  function j1926Map() {
    // grab containers in html, and key values for port size specs
    let container = document.getElementById("port-image-container-id");
    let containerTwo = document.getElementById("port-image-container-id-two");
    let dValue = document.getElementsByClassName("D-Value")[0].textContent;
    let jValue = document.getElementsByClassName("J-Value")[0].textContent;
    let kValue = document.getElementsByClassName("K-Value")[0].textContent;
    let oValue = document.getElementsByClassName("O-Value")[0].textContent;
    let pValue = document.getElementsByClassName("P-Value")[0].textContent;
    let sValue = document.getElementsByClassName("S-Value")[0].textContent;
    let uValue = document.getElementsByClassName("U-Value")[0].textContent;
    let yValue = document.getElementsByClassName("Y-Value")[0].textContent;
    let threadClass =
      document.getElementsByClassName("Class-Value")[0].textContent;
    let threadSize =
      document.getElementsByClassName("Thread-Value")[0].textContent;

    // create div container for each port spec: D
    let dBox = document.createElement("div");
    let dBox2 = document.createElement("div");
    let diaImageC = document.createElement("img");
    let dValp = document.createElement("p");
    let cKeyVal = document.createElement("p");
    dValp.className = "p-values";
    dValp.textContent = `${dValue} (min)`;
    cKeyVal.className = "p-key-values";
    cKeyVal.textContent = "D:\n";
    diaImageC.setAttribute("class", "diameter-image");
    diaImageC.setAttribute("src", "/static/diameter.jpeg");
    diaImageC.setAttribute("alt", "image of diameter");
    dBox.setAttribute("class", "port-value-boxes");
    dBox.setAttribute("id", "port-dBoxj");
    dBox2.setAttribute("class", "port-value-boxes");
    dBox2.setAttribute("id", "port-dBox2j");
    container.appendChild(dBox);
    container.appendChild(dBox2);
    dBox.appendChild(cKeyVal);
    dBox2.appendChild(diaImageC);
    dBox2.appendChild(dValp);

    // create div container for each port spec: J
    let jBoxj = document.createElement("div");
    let jBoxp = document.createElement("p");
    jBoxp.className = "p-values";
    jBoxp.innerHTML = `<b>J:</b>
    ${jValue} (min) thread depth`;
    jBoxj.setAttribute("class", "port-value-boxes");
    jBoxj.setAttribute("id", "port-jBoxj");
    container.appendChild(jBoxj);
    jBoxj.appendChild(jBoxp);

    // create div container for each port spec: K
    let kBoxj = document.createElement("div");
    let kValp = document.createElement("p");
    kValp.className = "p-values";
    kValp.innerHTML = `<b>K:</b>\n
    ${kValue} <span class="smaller">(+.015 -.0)</span>`;
    kBoxj.setAttribute("class", "port-value-boxes");
    kBoxj.setAttribute("id", "port-kBoxj");
    containerTwo.appendChild(kBoxj);
    kBoxj.appendChild(kValp);

    // create div container for each port spec: O
    let oBoxj = document.createElement("div");
    let diaImageG = document.createElement("img");
    let oValp = document.createElement("p");
    let gKeyVal = document.createElement("p");
    oValp.className = "p-values";
    oValp.textContent = `${oValue} (min)`;
    gKeyVal.className = "p-key-values";
    gKeyVal.textContent = "O:";
    diaImageG.setAttribute("class", "diameter-image");
    diaImageG.setAttribute("src", "/static/diameter.jpeg");
    diaImageG.setAttribute("alt", "image of diameter");
    oBoxj.setAttribute("class", "port-value-boxes");
    oBoxj.setAttribute("id", "port-oBoxj");
    container.appendChild(oBoxj);
    oBoxj.appendChild(gKeyVal);
    oBoxj.appendChild(diaImageG);
    oBoxj.appendChild(oValp);

    // create div container for each port spec: P
    let pBoxj = document.createElement("div");
    let pBoxp = document.createElement("p");
    pBoxp.className = "p-values";
    pBoxp.innerHTML = `<b>P:</b>
    ${pValue} (min)`;
    pBoxj.setAttribute("class", "port-value-boxes");
    pBoxj.setAttribute("id", "port-pBoxj");
    container.appendChild(pBoxj);
    pBoxj.appendChild(pBoxp);

    // create div container for each port spec: S
    let sBoxj = document.createElement("div");
    let sBoxp = document.createElement("p");
    sBoxp.className = "p-values";
    sBoxp.innerHTML = `<b>S:</b>
    ${sValue} (max)`;
    sBoxj.setAttribute("class", "port-value-boxes");
    sBoxj.setAttribute("id", "port-sBoxj");
    container.appendChild(sBoxj);
    sBoxj.appendChild(sBoxp);

    // create div container for each port spec: U
    let uBoxj = document.createElement("div");
    let diaImageU = document.createElement("img");
    let uValp = document.createElement("p");
    let uKeyVal = document.createElement("p");
    uValp.className = "p-values";
    uValp.innerHTML = `${uValue} \n<span class="smaller">(+.005 -.0)</span>`;
    uKeyVal.className = "p-key-values";
    uKeyVal.textContent = "U:";
    diaImageU.setAttribute("class", "diameter-image");
    diaImageU.setAttribute("src", "/static/diameter.jpeg");
    diaImageU.setAttribute("alt", "image of diameter");
    uBoxj.setAttribute("class", "port-value-boxes");
    uBoxj.setAttribute("id", "port-uBoxj");
    containerTwo.appendChild(uBoxj);
    uBoxj.appendChild(uKeyVal);
    uBoxj.appendChild(diaImageU);
    uBoxj.appendChild(uValp);

    // create div container for each port spec: Y
    let yBoxj = document.createElement("div");
    let diaImage = document.createElement("img");
    let yValp = document.createElement("p");
    let yKeyVal = document.createElement("p");
    yValp.className = "p-values";
    yValp.innerHTML = `${yValue} <span class="smaller">Recommended spot face</span>`;
    yKeyVal.className = "p-key-values";
    yKeyVal.textContent = "Y:";
    diaImage.setAttribute("class", "diameter-image");
    diaImage.setAttribute("src", "/static/diameter.jpeg");
    diaImage.setAttribute("alt", "image of diameter");
    yBoxj.setAttribute("class", "port-value-boxes");
    yBoxj.setAttribute("id", "port-yBoxj");
    container.appendChild(yBoxj);
    yBoxj.appendChild(yKeyVal);
    yBoxj.appendChild(diaImage);
    yBoxj.appendChild(yValp);

    // create div container for each port spec: thread
    let threadBoxj = document.createElement("div");
    threadBoxj.setAttribute("class", "port-value-boxes");
    threadBoxj.setAttribute("id", "port-threadBoxj");
    threadBoxj.innerHTML = `${threadSize} ${threadClass}`;
    container.appendChild(threadBoxj);
  }

  function as1300Map() {
    // grab containers in html, and key values for port size specs
    let container = document.getElementById("port-image-container-id");
    let containerTwo = document.getElementById("port-image-container-id-two");
    let aValue = document.getElementsByClassName("A-Value")[0].textContent;
    let bValue = document.getElementsByClassName("B-Value")[0].textContent;
    let cValue = document.getElementsByClassName("C-Value")[0].textContent;
    let dValue = document.getElementsByClassName("D-Value")[0].textContent;
    let eValue = document.getElementsByClassName("E-Value")[0].textContent;
    let fValue = document.getElementsByClassName("F-Value")[0].textContent;
    let gValue = document.getElementsByClassName("G-Value")[0].textContent;
    let hValue = document.getElementsByClassName("H-Value")[0].textContent;
    let jValue = document.getElementsByClassName("J-Value")[0].textContent;
    let kValue = document.getElementsByClassName("K-Value")[0].textContent;
    let lValue = document.getElementsByClassName("L-Value")[0].textContent;
    let mValue = document.getElementsByClassName("M-Value")[0].textContent;
    let threadClass =
      document.getElementsByClassName("Class-Value")[0].textContent;
    let threadSize =
      document.getElementsByClassName("Thread-Value")[0].textContent;

    // create div container for each port spec: B
    let bBoxRos = document.createElement("div");
    let diaImageB = document.createElement("img");
    let bValp = document.createElement("p");
    let gKeyVal = document.createElement("p");
    bValp.className = "p-values";
    bValp.textContent = `${bValue} (min)`;
    gKeyVal.className = "p-key-values";
    gKeyVal.textContent = "B:";
    diaImageB.setAttribute("class", "diameter-image");
    diaImageB.setAttribute("src", "/static/diameter.jpeg");
    diaImageB.setAttribute("alt", "image of diameter");
    bBoxRos.setAttribute("class", "port-value-boxes");
    bBoxRos.setAttribute("id", "port-bBoxRos");
    container.appendChild(bBoxRos);
    bBoxRos.appendChild(gKeyVal);
    bBoxRos.appendChild(diaImageB);
    bBoxRos.appendChild(bValp);

    // create div container for each port spec: C
    let cBoxRos = document.createElement("div");
    let diaImageC = document.createElement("img");
    let cValp = document.createElement("p");
    let cKeyVal = document.createElement("p");
    cValp.className = "p-values";
    cValp.textContent = `${cValue}`;
    cKeyVal.className = "p-key-values";
    cKeyVal.textContent = "C:";
    diaImageC.setAttribute("class", "diameter-image");
    diaImageC.setAttribute("src", "/static/diameter.jpeg");
    diaImageC.setAttribute("alt", "image of diameter");
    cBoxRos.setAttribute("class", "port-value-boxes");
    cBoxRos.setAttribute("id", "port-cBoxRos");
    container.appendChild(cBoxRos);
    cBoxRos.appendChild(cKeyVal);
    cBoxRos.appendChild(diaImageC);
    cBoxRos.appendChild(cValp);

    // create div container for each port spec: D
    let dBoxRos = document.createElement("div");
    let diaImageD = document.createElement("img");
    let dValp = document.createElement("p");
    let dKeyVal = document.createElement("p");
    dValp.className = "p-values";
    dValp.textContent = `${dValue}`;
    dKeyVal.className = "p-key-values";
    dKeyVal.textContent = "D:";
    diaImageD.setAttribute("class", "diameter-image");
    diaImageD.setAttribute("src", "/static/diameter.jpeg");
    diaImageD.setAttribute("alt", "image of diameter");
    dBoxRos.setAttribute("class", "port-value-boxes");
    dBoxRos.setAttribute("id", "port-dBoxRos");
    container.appendChild(dBoxRos);
    dBoxRos.appendChild(dKeyVal);
    dBoxRos.appendChild(diaImageD);
    dBoxRos.appendChild(dValp);

    // create div container for each port spec: E
    let eBoxRos = document.createElement("div");
    let eValp = document.createElement("p");
    eValp.className = "p-values";
    eValp.innerHTML = `<b>E:</b>\n
    ${eValue}`;
    eBoxRos.setAttribute("class", "port-value-boxes");
    eBoxRos.setAttribute("id", "port-eBoxRos");
    containerTwo.appendChild(eBoxRos);
    eBoxRos.appendChild(eValp);

    // create div container for each port spec: F
    let fBoxRos = document.createElement("div");
    let fValp = document.createElement("p");
    fValp.className = "p-values";
    fValp.innerHTML = `<b>F:</b>\n
    ${fValue}`;
    fBoxRos.setAttribute("class", "port-value-boxes");
    fBoxRos.setAttribute("id", "port-fBoxRos");
    container.appendChild(fBoxRos);
    fBoxRos.appendChild(fValp);

    // create div container for each port spec: G
    let gBoxRos = document.createElement("div");
    let gValp = document.createElement("p");
    gValp.className = "p-values";
    gValp.innerHTML = `<b>G:</b>\n
    ${gValue}`;
    gBoxRos.setAttribute("class", "port-value-boxes");
    gBoxRos.setAttribute("id", "port-gBoxRos");
    container.appendChild(gBoxRos);
    gBoxRos.appendChild(gValp);

    // create div container for each port spec: H
    let hBoxRos = document.createElement("div");
    let hValp = document.createElement("p");
    hValp.className = "p-values";
    hValp.innerHTML = `<b>H:</b>\n
    ${hValue} (min thread depth)`;
    hBoxRos.setAttribute("class", "port-value-boxes");
    hBoxRos.setAttribute("id", "port-hBoxRos");
    container.appendChild(hBoxRos);
    hBoxRos.appendChild(hValp);

    // create div container for each port spec: K
    let kBoxRos = document.createElement("div");
    let kValp = document.createElement("p");
    kValp.className = "p-values";
    kValp.innerHTML = `<b>K:</b>\n
    ${kValue} (min)`;
    kBoxRos.setAttribute("class", "port-value-boxes");
    kBoxRos.setAttribute("id", "port-kBoxRos");
    containerTwo.appendChild(kBoxRos);
    kBoxRos.appendChild(kValp);

    // create div container for each port spec: L
    let lBoxRos = document.createElement("div");
    let diaImageL = document.createElement("img");
    let lValp = document.createElement("p");
    let lKeyVal = document.createElement("p");
    lValp.className = "p-values";
    lValp.textContent = `${lValue} undercut`;
    lKeyVal.className = "p-key-values";
    lKeyVal.textContent = "L:";
    diaImageL.setAttribute("class", "diameter-image");
    diaImageL.setAttribute("src", "/static/diameter.jpeg");
    diaImageL.setAttribute("alt", "image of diameter");
    lBoxRos.setAttribute("class", "port-value-boxes");
    lBoxRos.setAttribute("id", "port-lBoxRos");
    containerTwo.appendChild(lBoxRos);
    lBoxRos.appendChild(lKeyVal);
    lBoxRos.appendChild(diaImageL);
    lBoxRos.appendChild(lValp);

    // create div container for each port spec: M
    let mBoxRos = document.createElement("div");
    let mValp = document.createElement("p");
    mValp.className = "p-values";
    mValp.innerHTML = `<b>M:</b>\n
    ${mValue}`;
    mBoxRos.setAttribute("class", "port-value-boxes");
    mBoxRos.setAttribute("id", "port-mBoxRos");
    containerTwo.appendChild(mBoxRos);
    mBoxRos.appendChild(mValp);

    // create div container for each port spec: thread
    let threadBoxRos = document.createElement("div");
    let threadValpRos = document.createElement("p");
    threadValpRos.className = "p-values";
    threadValpRos.innerHTML = `${threadSize}\n${threadClass}`;
    threadBoxRos.setAttribute("class", "port-value-boxes");
    threadBoxRos.setAttribute("id", "port-threadBoxRos");
    container.appendChild(threadBoxRos);
    threadBoxRos.appendChild(threadValpRos);
  }

  function as1958Map() {
    // grab containers in html, and key values for port size specs
    let container = document.getElementById("port-image-container-id");
    let bValue = document.getElementsByClassName("B-Value")[0].textContent;
    let cValue = document.getElementsByClassName("C-Value")[0].textContent;
    let dValue = document.getElementsByClassName("D-Value")[0].textContent;
    let eValue = document.getElementsByClassName("E-Value")[0].textContent;
    let tValue = document.getElementsByClassName("T-Value")[0].textContent;
    let threadClass =
      document.getElementsByClassName("Class-Value")[0].textContent;
    let threadSize =
      document.getElementsByClassName("Thread-Value")[0].textContent;

    // create div container for each port spec: B
    let bBoxas = document.createElement("div");
    let diaImageB = document.createElement("img");
    let bValp = document.createElement("p");
    let bKeyVal = document.createElement("p");
    bValp.className = "p-values";
    bValp.innerHTML = `${bValue} \n<span class="smaller">(+.005 -.0)</span>`;
    bKeyVal.className = "p-key-values";
    bKeyVal.textContent = "B:";
    diaImageB.setAttribute("class", "diameter-image");
    diaImageB.setAttribute("src", "/static/diameter.jpeg");
    diaImageB.setAttribute("alt", "image of diameter");
    bBoxas.setAttribute("class", "port-value-boxes");
    bBoxas.setAttribute("id", "port-bBoxas");
    container.appendChild(bBoxas);
    bBoxas.appendChild(bKeyVal);
    bBoxas.appendChild(diaImageB);
    bBoxas.appendChild(bValp);

    // create div container for each port spec: C
    let cBoxas = document.createElement("div");
    let diaImageC = document.createElement("img");
    let cValp = document.createElement("p");
    let cKeyVal = document.createElement("p");
    cValp.className = "p-values";
    cValp.innerHTML = `${cValue} \n<span class="smaller">(+.002 -.0)</span>`;
    cKeyVal.className = "p-key-values";
    cKeyVal.textContent = "C:";
    diaImageC.setAttribute("class", "diameter-image");
    diaImageC.setAttribute("src", "/static/diameter.jpeg");
    diaImageC.setAttribute("alt", "image of diameter");
    cBoxas.setAttribute("class", "port-value-boxes");
    cBoxas.setAttribute("id", "port-cBoxas");
    container.appendChild(cBoxas);
    cBoxas.appendChild(cKeyVal);
    cBoxas.appendChild(diaImageC);
    cBoxas.appendChild(cValp);

    // create div container for each port spec: D
    let dBoxas = document.createElement("div");
    let dValp = document.createElement("p");
    dValp.className = "p-values";
    dValp.innerHTML = `<b>D:</b>\n
    ${dValue} (min)`;
    dBoxas.setAttribute("class", "port-value-boxes");
    dBoxas.setAttribute("id", "port-dBoxas");
    container.appendChild(dBoxas);
    dBoxas.appendChild(dValp);

    // create div container for each port spec: E
    let eBoxas = document.createElement("div");
    let eValp = document.createElement("p");
    eValp.className = "p-values";
    eValp.innerHTML = `<b>E:</b>\n
    ${eValue} <span class="smaller">+.005 -.005</span>`;
    eBoxas.setAttribute("class", "port-value-boxes");
    eBoxas.setAttribute("id", "port-eBoxas");
    container.appendChild(eBoxas);
    eBoxas.appendChild(eValp);

    // create div container for each port spec: T
    let tBoxas = document.createElement("div");
    let diaImageT = document.createElement("img");
    let tValp = document.createElement("p");
    let tKeyVal = document.createElement("p");
    tValp.className = "p-values";
    tValp.innerHTML = `${tValue} (min)`;
    tKeyVal.className = "p-key-values";
    tKeyVal.textContent = "T:";
    diaImageT.setAttribute("class", "diameter-image");
    diaImageT.setAttribute("src", "/static/diameter.jpeg");
    diaImageT.setAttribute("alt", "image of diameter");
    tBoxas.setAttribute("class", "port-value-boxes");
    tBoxas.setAttribute("id", "port-tBoxas");
    container.appendChild(tBoxas);
    tBoxas.appendChild(tKeyVal);
    tBoxas.appendChild(diaImageT);
    tBoxas.appendChild(tValp);
  }

  function iso6419Map() {
    // grab containers in html, and key values for port size specs
    let container = document.getElementById("port-image-container-id");
    let containerTwo = document.getElementById("port-image-container-id-two");
    let dValue = document.getElementsByClassName("D-Value")[0].textContent;
    let jValue = document.getElementsByClassName("J-Value")[0].textContent;
    let kValue = document.getElementsByClassName("K-Value")[0].textContent;
    let oValue = document.getElementsByClassName("O-Value")[0].textContent;
    let pValue = document.getElementsByClassName("P-Value")[0].textContent;
    let sValue = document.getElementsByClassName("S-Value")[0].textContent;
    let uValue = document.getElementsByClassName("U-Value")[0].textContent;
    let yValue = document.getElementsByClassName("Y-Value")[0].textContent;
    let minorSize =
      document.getElementsByClassName("minor-Value")[0].textContent;
    let threadSize =
      document.getElementsByClassName("Thread-Value")[0].textContent;

    // create div container for each port spec: D
    let dBox = document.createElement("div");
    let dBox2 = document.createElement("div");
    let diaImageC = document.createElement("img");
    let dValp = document.createElement("p");
    let cKeyVal = document.createElement("p");
    dValp.className = "p-values";
    dValp.textContent = `${dValue} (min)`;
    cKeyVal.className = "p-key-values";
    cKeyVal.textContent = "D:\n";
    diaImageC.setAttribute("class", "diameter-image");
    diaImageC.setAttribute("src", "/static/diameter.jpeg");
    diaImageC.setAttribute("alt", "image of diameter");
    dBox.setAttribute("class", "port-value-boxes");
    dBox.setAttribute("id", "dBox6");
    dBox2.setAttribute("class", "port-value-boxes");
    dBox2.setAttribute("id", "dBox26");
    container.appendChild(dBox);
    container.appendChild(dBox2);
    dBox.appendChild(cKeyVal);
    dBox2.appendChild(diaImageC);
    dBox2.appendChild(dValp);

    // create div container for each port spec: J
    let jBox6 = document.createElement("div");
    let jBoxp = document.createElement("p");
    jBoxp.className = "p-values";
    jBoxp.innerHTML = `<b>J:</b>
    ${jValue} (min) thread depth`;
    jBox6.setAttribute("class", "port-value-boxes");
    jBox6.setAttribute("id", "jBox6");
    container.appendChild(jBox6);
    jBox6.appendChild(jBoxp);

    // create div container for each port spec: K
    let kBox6 = document.createElement("div");
    let kValp = document.createElement("p");
    kValp.className = "p-values";
    kValp.innerHTML = `<b>K:</b>\n
    ${kValue} <span class="smaller">(+.12 -.0)</span>`;
    kBox6.setAttribute("class", "port-value-boxes");
    kBox6.setAttribute("id", "kBox6");
    containerTwo.appendChild(kBox6);
    kBox6.appendChild(kValp);

    // create div container for each port spec: O
    let oBox6 = document.createElement("div");
    let diaImageG = document.createElement("img");
    let oValp = document.createElement("p");
    let gKeyVal = document.createElement("p");
    oValp.className = "p-values";
    oValp.textContent = `${oValue} (min)`;
    gKeyVal.className = "p-key-values";
    gKeyVal.textContent = "O:";
    diaImageG.setAttribute("class", "diameter-image");
    diaImageG.setAttribute("src", "/static/diameter.jpeg");
    diaImageG.setAttribute("alt", "image of diameter");
    oBox6.setAttribute("class", "port-value-boxes");
    oBox6.setAttribute("id", "oBox6");
    container.appendChild(oBox6);
    oBox6.appendChild(gKeyVal);
    oBox6.appendChild(diaImageG);
    oBox6.appendChild(oValp);

    // create div container for each port spec: P
    let pBox6 = document.createElement("div");
    let pBoxp = document.createElement("p");
    pBoxp.className = "p-values";
    pBoxp.innerHTML = `<b>P:</b>
    ${pValue} (min)`;
    pBox6.setAttribute("class", "port-value-boxes");
    pBox6.setAttribute("id", "pBox6");
    container.appendChild(pBox6);
    pBox6.appendChild(pBoxp);

    // create div container for each port spec: S
    let sBox6 = document.createElement("div");
    let sBoxp = document.createElement("p");
    sBoxp.className = "p-values";
    sBoxp.innerHTML = `<b>S:</b>
    ${sValue} (max)`;
    sBox6.setAttribute("class", "port-value-boxes");
    sBox6.setAttribute("id", "sBox6");
    container.appendChild(sBox6);
    sBox6.appendChild(sBoxp);

    // create div container for each port spec: U
    let uBox6 = document.createElement("div");
    let diaImageU = document.createElement("img");
    let uValp = document.createElement("p");
    let uKeyVal = document.createElement("p");
    uValp.className = "p-values";
    uValp.innerHTML = `${uValue} \n<span class="smaller">(+.005" -.0)</span>`;
    uKeyVal.className = "p-key-values";
    uKeyVal.textContent = "U:";
    diaImageU.setAttribute("class", "diameter-image");
    diaImageU.setAttribute("src", "/static/diameter.jpeg");
    diaImageU.setAttribute("alt", "image of diameter");
    uBox6.setAttribute("class", "port-value-boxes");
    uBox6.setAttribute("id", "uBox6");
    containerTwo.appendChild(uBox6);
    uBox6.appendChild(uKeyVal);
    uBox6.appendChild(diaImageU);
    uBox6.appendChild(uValp);

    // create div container for each port spec: Y
    let yBox6 = document.createElement("div");
    let diaImageY = document.createElement("img");
    let yValp = document.createElement("p");
    let yKeyVal = document.createElement("p");
    yValp.className = "p-values";
    yValp.innerHTML = `${yValue} <span class="smaller">Recommended spot face</span>`;
    yKeyVal.className = "p-key-values";
    yKeyVal.textContent = "Y:";
    diaImageY.setAttribute("class", "diameter-image");
    diaImageY.setAttribute("src", "/static/diameter.jpeg");
    diaImageY.setAttribute("alt", "image of diameter");
    yBox6.setAttribute("class", "port-value-boxes");
    yBox6.setAttribute("id", "yBox6");
    container.appendChild(yBox6);
    yBox6.appendChild(yKeyVal);
    yBox6.appendChild(diaImageY);
    yBox6.appendChild(yValp);

    // create div container for each port spec: thread
    let threadBox6 = document.createElement("div");
    threadBox6.setAttribute("class", "port-value-boxes");
    threadBox6.setAttribute("id", "threadBox6");
    threadBox6.innerHTML = `${threadSize}`;
    container.appendChild(threadBox6);
  }

  function iso1179Map() {
    // grab containers in html, and key values for port size specs
    let container = document.getElementById("port-image-container-id");
    let d2Value = document.getElementsByClassName("d2-Value")[0].textContent;
    let d3Value = document.getElementsByClassName("d3-Value")[0].textContent;
    let d4nValue =
      document.getElementsByClassName("d4(Type-N)-Value")[0].textContent;
    let d4wValue =
      document.getElementsByClassName("d4(Type-W)-Value")[0].textContent;
    let l1Value = document.getElementsByClassName("L1-Value")[0].textContent;
    let l2Value = document.getElementsByClassName("L2-Value")[0].textContent;
    let l3Value = document.getElementsByClassName("L3-Value")[0].textContent;
    let wValue = document.getElementsByClassName("W-Value")[0].textContent;
    let threadSize =
      document.getElementsByClassName("Thread-Value")[0].textContent;

    // create div container for each port spec: d2
    let d2Box = document.createElement("div");
    let diaImaged2 = document.createElement("img");
    let d2Valp = document.createElement("p");
    let d2KeyVal = document.createElement("p");
    d2Valp.className = "p-values";
    d2Valp.textContent = `${d2Value} (ref)`;
    d2KeyVal.className = "p-key-values";
    d2KeyVal.textContent = "d2:";
    diaImaged2.setAttribute("class", "diameter-image");
    diaImaged2.setAttribute("src", "/static/diameter.jpeg");
    diaImaged2.setAttribute("alt", "image of diameter");
    d2Box.setAttribute("class", "port-value-boxes");
    d2Box.setAttribute("id", "d2Box");
    container.appendChild(d2Box);
    d2Box.appendChild(d2KeyVal);
    d2Box.appendChild(diaImaged2);
    d2Box.appendChild(d2Valp);

    // create div container for each port spec: d3
    let d3Box = document.createElement("div");
    let diaImaged3 = document.createElement("img");
    let d3Valp = document.createElement("p");
    let d3KeyVal = document.createElement("p");
    d3Valp.className = "p-values";
    d3Valp.textContent = `${d3Value}`;
    d3KeyVal.className = "p-key-values";
    d3KeyVal.textContent = "d3:";
    diaImaged3.setAttribute("class", "diameter-image");
    diaImaged3.setAttribute("src", "/static/diameter.jpeg");
    diaImaged3.setAttribute("alt", "image of diameter");
    d3Box.setAttribute("class", "port-value-boxes");
    d3Box.setAttribute("id", "d3Box");
    container.appendChild(d3Box);
    d3Box.appendChild(d3KeyVal);
    d3Box.appendChild(diaImaged3);
    d3Box.appendChild(d3Valp);

    // create div container for each port spec: d4(Type-N)
    let d4nBox = document.createElement("div");
    let diaImaged4n = document.createElement("img");
    let d4nValp = document.createElement("p");
    let d4nKeyVal = document.createElement("p");
    d4nValp.className = "p-values";
    d4nValp.textContent = `${d4nValue} (min)`;
    d4nKeyVal.className = "p-key-values";
    d4nKeyVal.innerHTML = `d4<span class='smaller'>(Type-N)</span>:`;
    diaImaged4n.setAttribute("class", "diameter-image");
    diaImaged4n.setAttribute("src", "/static/diameter.jpeg");
    diaImaged4n.setAttribute("alt", "image of diameter");
    d4nBox.setAttribute("class", "port-value-boxes");
    d4nBox.setAttribute("id", "d4nBox");
    container.appendChild(d4nBox);
    d4nBox.appendChild(d4nKeyVal);
    d4nBox.appendChild(diaImaged4n);
    d4nBox.appendChild(d4nValp);

    // create div container for each port spec: d4(Type-W)
    let d4wBox = document.createElement("div");
    let diaImaged4w = document.createElement("img");
    let d4wValp = document.createElement("p");
    let d4wKeyVal = document.createElement("p");
    d4wValp.className = "p-values";
    d4wValp.textContent = `${d4wValue} (min)`;
    d4wKeyVal.className = "p-key-values";
    d4wKeyVal.innerHTML = `d4<span class='smaller'>(Type-W)</span>:`;
    diaImaged4w.setAttribute("class", "diameter-image");
    diaImaged4w.setAttribute("src", "/static/diameter.jpeg");
    diaImaged4w.setAttribute("alt", "image of diameter");
    d4wBox.setAttribute("class", "port-value-boxes");
    d4wBox.setAttribute("id", "d4wBox");
    container.appendChild(d4wBox);
    d4wBox.appendChild(d4wKeyVal);
    d4wBox.appendChild(diaImaged4w);
    d4wBox.appendChild(d4wValp);

    // create div container for each port spec: l1
    let l1Box = document.createElement("div");
    let l1Valp = document.createElement("p");
    l1Valp.className = "p-values";
    l1Valp.innerHTML = `<b>L1:</b>
    ${l1Value} (max)`;
    l1Box.setAttribute("class", "port-value-boxes");
    l1Box.setAttribute("id", "l1Box");
    container.appendChild(l1Box);
    l1Box.appendChild(l1Valp);

    // create div container for each port spec: l2
    let l2Box = document.createElement("div");
    let l2Valp = document.createElement("p");
    l2Valp.className = "p-values";
    l2Valp.innerHTML = `<b>L2:</b>
    ${l2Value} (min)`;
    l2Box.setAttribute("class", "port-value-boxes");
    l2Box.setAttribute("id", "l2Box");
    container.appendChild(l2Box);
    l2Box.appendChild(l2Valp);

    // create div container for each port spec: l3
    let l3Box = document.createElement("div");
    let l3Valp = document.createElement("p");
    l3Valp.className = "p-values";
    l3Valp.innerHTML = `<b>L3:</b>
    ${l3Value} (min)`;
    l3Box.setAttribute("class", "port-value-boxes");
    l3Box.setAttribute("id", "l3Box");
    container.appendChild(l3Box);
    l3Box.appendChild(l3Valp);

    // create div container for each port spec: thread
    let threadBoxho = document.createElement("div");
    threadBoxho.setAttribute("class", "port-value-boxes");
    threadBoxho.setAttribute("id", "threadBoxho");
    threadBoxho.innerHTML = `${threadSize}`;
    container.appendChild(threadBoxho);
  }
</script>
<div id="port-container">
  <div class="dropdown-ports">
    <div class="as-ms-ports label-div-port">
      <label for="as5202-portSelect" class="new-font-style">AS5202</label>
      <select
        class="form-select form-select-sm shorten"
        name="as5202-ports"
        id="as5202-portSelect"
        aria-label="AS5202 port select box"
        value=""
        onchange="{createPortTable(as5202)}"
      >
        <option selected></option>
        <option value="01">- 01</option>
        <option value="02">- 02</option>
        <option value="03">- 03</option>
        <option value="04">- 04</option>
        <option value="05">- 05</option>
        <option value="06">- 06</option>
        <option value="07">- 07</option>
        <option value="08">- 08</option>
        <option value="09">- 09</option>
        <option value="10">- 10</option>
        <option value="11">- 11</option>
        <option value="12">- 12</option>
        <option value="14">- 14</option>
        <option value="16">- 16</option>
        <option value="18">- 18</option>
        <option value="20">- 20</option>
        <option value="24">- 24</option>
        <option value="28">- 28</option>
        <option value="32">- 32</option>
      </select>
    </div>
    <div class="asros-ports label-div-port">
      <label for="as1300-portSelect" class="new-font-style">AS1300</label>
      <select
        class="form-select form-select-sm shorten"
        name="as1300-ports"
        id="as1300-portSelect"
        aria-label="AS1300 port select box"
        value=""
        onchange="{createPortTable(as1300)}"
      >
        <option selected></option>
        <option value="02">- 02</option>
        <option value="03">- 03</option>
        <option value="04">- 04</option>
        <option value="05">- 05</option>
        <option value="06">- 06</option>
        <option value="08">- 08</option>
        <option value="10">- 10</option>
        <option value="12">- 12</option>
        <option value="14">- 14</option>
        <option value="16">- 16</option>
        <option value="20">- 20</option>
        <option value="24">- 24</option>
        <option value="32">- 32</option>
      </select>
    </div>
    <div class="as-ports label-div-port">
      <label for="as1958-portSelect" class="new-font-style">AS1958</label>
      <select
        class="form-select form-select-sm shorten"
        name="as1958-ports"
        id="as1958-portSelect"
        aria-label="AS1958 port select box"
        value=""
        onchange="{createPortTable(as1958)}"
      >
        <option selected></option>
        <option value="02">- 02</option>
        <option value="03">- 03</option>
        <option value="04">- 04</option>
        <option value="05">- 05</option>
        <option value="06">- 06</option>
        <option value="08">- 08</option>
        <option value="10">- 10</option>
        <option value="12">- 12</option>
        <option value="16">- 16</option>
        <option value="20">- 20</option>
      </select>
    </div>
    <div class="j-ports label-div-port">
      <label for="j1926-ports" class="new-font-style">J1926 </label>
      <select
        class="form-select form-select-sm shorten"
        name="j-portSelect"
        aria-label="J1926 port select box"
        id="j1926-portSelect"
        value=""
        onchange="{createPortTable(j1926)}"
      >
        <option selected></option>
        <option value="02">- 02</option>
        <option value="03">- 03</option>
        <option value="04">- 04</option>
        <option value="05">- 05</option>
        <option value="06">- 06</option>
        <option value="08">- 08</option>
        <option value="10">- 10</option>
        <option value="12">- 12</option>
        <option value="14">- 14</option>
        <option value="16">- 16</option>
        <option value="20">- 20</option>
        <option value="24">- 24</option>
        <option value="32">- 32</option>
      </select>
    </div>
    <div class="iso-ports label-div-port">
      <label for="iso6419-ports" class="new-font-style"> ISO6419</label>
      <select
        class="form-select form-select-sm shorten"
        name="isoPortSelect"
        aria-label="iso6419 port select box"
        id="iso6419-portSelect"
        value=""
        onchange="{createPortTable(iso6419)}"
      >
        <option selected></option>
        <option value="04">- 04</option>
        <option value="05">- 05</option>
        <option value="06">- 06</option>
        <option value="08">- 08</option>
        <option value="10">- 10</option>
        <option value="12">- 12</option>
        <option value="16">- 16</option>
        <option value="20">- 20</option>
        <option value="22">- 22</option>
        <option value="25">- 25</option>
        <option value="32">- 32</option>
        <option value="38">- 38</option>
        <option value="50">- 50</option>
      </select>
    </div>
    <div class="iso-ports label-div-port">
      <label for="iso1179-portSelect" class="new-font-style">ISO1179</label>
      <select
        class="form-select form-select-sm shorten"
        name="iso1179-ports"
        id="iso1179-portSelect"
        aria-label="iso1179 port select box"
        value=""
        onchange="{createPortTable(iso1179)}"
      >
        <option selected></option>
        <option value="G 1/8">G 1/8</option>
        <option value="G 1/4">G 1/4</option>
        <option value="G 3/8">G 3/8</option>
        <option value="G 1/2">- G 1/2</option>
        <option value="G 3/4">- G 3/4</option>
        <option value="G 1">- G 1</option>
        <option value="G 1 1/4">- G 1 1/4</option>
        <option value="G 1 1/2">- G 1 1/2</option>
        <option value="G 2d">- G 2d</option>
      </select>
    </div>
    <div class="asros-ports label-div-port">
      <label for="iso11926-portSelect" class="new-font-style">ISO11926</label>
      <select
        class="form-select form-select-sm shorten"
        name="iso11926-ports"
        id="iso11926-portSelect"
        aria-label="iso11926 port select box"
        value=""
        onchange="{createPortTable(iso11926)}"
      >
        <option selected></option>
        <option value="01">- 01</option>
        <option value="02">- 02</option>
        <option value="03">- 03</option>
        <option value="04">- 04</option>
        <option value="05">- 05</option>
        <option value="06">- 06</option>
        <option value="07">- 07</option>
        <option value="08">- 08</option>
        <option value="09">- 09</option>
        <option value="10">- 10</option>
        <option value="11">- 11</option>
        <option value="12">- 12</option>
        <option value="14">- 14</option>
        <option value="16">- 16</option>
        <option value="18">- 18</option>
        <option value="20">- 20</option>
        <option value="24">- 24</option>
        <option value="28">- 28</option>
        <option value="32">- 32</option>
      </select>
    </div>
    <form action="https://www.google.com/search" method="get" target="_blank">
      <div class="input-group mb-1" id="port-search-div">
        <button
          class="btn btn-outline-secondary"
          type="submit"
          id="google-search"
        >
          Search
        </button>
        <input
          type="text"
          name="q"
          id="port-search"
          class="form-control"
          placeholder="Search for a port"
          aria-label="Search google for port"
        />
      </div>
    </form>
  </div>
  <div class="table-div-port" id="table-divider-port">
    <table class="table-port">
      <thead id="t-head-port">
        <tr id="t-head-row-port"></tr>
      </thead>
      <tbody id="table-body-port"></tbody>
    </table>
  </div>
  <div class="port-image-container" id="port-image-container-id">
    <image
      src="{{ url_for('static', filename='ms33649.png') }}"
      id="as5202-img"
      class="port-images"
      alt="port"
    ></image>
    <image
      src="{{ url_for('static', filename='j1926.png') }}"
      id="j1926-img"
      class="port-images"
      alt="port"
    ></image>
    <image
      src="{{ url_for('static', filename='as1300.png') }}"
      id="as1300-img"
      class="port-images"
      alt="port"
    ></image>
    <image
      src="{{ url_for('static', filename='as1958.png') }}"
      id="as1958-img"
      class="port-images"
      alt="port"
    ></image>
    <image
      src="{{ url_for('static', filename='iso1179.png') }}"
      id="iso1179-img"
      class="port-images"
      alt="port"
    ></image>
  </div>
  <div class="port-image-container-two" id="port-image-container-id-two">
    <image
      src="{{ url_for('static', filename='as5202two.png') }}"
      id="as5202-img-two"
      class="port-images-two"
      alt="port"
    ></image>
    <image
      src="{{ url_for('static', filename='j1926two.png') }}"
      id="j1926-img-two"
      class="port-images-two"
      alt="port"
    ></image>
    <image
      src="{{ url_for('static', filename='as1300two.png') }}"
      id="as1300-img-two"
      class="port-images-two"
      alt="port"
    ></image>
  </div>
</div>
{% endblock %}
